* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001637;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.header-line {
    margin-top: 5%;
    text-align: center;
    color: #FF9417;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    font-size: 6vw;
    font-weight: lighter;
}

.wrapper {
    max-width: 400px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.role-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    max-width: 300px;
}

.role {
    background: transparent;
    border: none;
    margin: 0 10px;
    padding: 10px 20px;
    color: #001637;
    font-size: 2.5vh;
    cursor: pointer;
}

.role.active, .role:hover {
    color: #FF9417;
    text-decoration: underline;
}


.login-box {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.error-messages{
    max-width: 600px;
}
.input-box {
    background-color: #e0e0e0;
    margin-bottom: 10px;
    border-radius: 10px;
}

.input-box input {
    width: 100%;
    height: 51px;
    padding: 10px;
    background-color: #C3C3C3;
    color: #333;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.forgot a {
    color: #001637;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-top: 5px;
    text-align: right;
}

.btn {
    background-color: #001637;
    color: white;
    font-size: 23px;
    width: 80px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: none;
    border-radius: 15px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}
/*ALLERT BLOCK*/
.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 51, 102, 0.9); /* Semi-transparent white background */
    justify-content: center;
    align-items: center;
}