
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, monospace;
    background:#0d467f;
    margin: 0px;
    padding: 0px;
    
    
}


header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 0 20px; 
    background: #0d467f;
    color: white;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 10px;
   
}
.header-right {
    padding-left: 927px;
    font-size: 14px;
    margin-top:-75px;
    color:white;
  
  }
.teacher-info{
    color:rgb(237, 164, 81) ;
    margin-top: -30px;
    padding-left:37px;

}
.teacher-info p{
    color:white;
    margin-top:-10px;
   
}

.class-type {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, monospace;
    color: white; 
    background-color: #0d467f; 
    padding: -30px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-right:130px;
}

.class-type select {
    padding: 8px 12px;
    font-size: 17px;
    color: white; 
    background-color: #1b2e40; 
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top:-40px;
    
}

.attendance-container {
    max-width: 600px;
    max-height: 500px;
    margin: 40px 10px;
    background: rgb(239, 238, 245);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    overflow-y: auto;
}
.some-inner-element {
    margin-bottom: 10px;
    
  }
  

.attendance-table {
    width: 100%; 
    margin: 0 auto; 
    border-collapse: collapse;
    text-align: center;
    color:rgb(237, 164, 81) ;
    max-height: 300px;
}

.attendance-table th, .attendance-table td {
    padding: 11px;
    border-bottom: 1px solid black;
    border-left: 1px solid black; /* Добавляет вертикальную линию слева от каждой ячейки */
    border-right: 1px solid black;
}

.attendance-table th {
    background: rgb(237, 164, 81);
    color: #000000;
    border-bottom: 1px solid black;
}
.attendance-table td{
    color:black;
    

}
  
.footer {
    text-align: left; /* Centers your buttons if desired */
    padding: 10px 0; 
    font-size: 12px;
  }
.logout-button,
.certificate-button {

    padding: 5px 15px;
    border:none;
    color: white;
    margin: 20px 10px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    margin-top:-20px

}
.logout-button {
    background-color:rgb(237, 164, 81);
    color:white;
  
  }
  
  .logout-button:hover {
    background-color: #e74c3c;
  }
.certificate-button {
    background-color: rgb(237, 164, 81) ;
    border: none;
      
}

.goBack{
    background-color: rgb(237, 164, 81) ;
    padding: 5.5px 15px;
    border:none;
    color: white;
    margin: 22px 10px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    margin-top: 3px;
  
  }
  .goBack:hover {
  background-color: #d35400; /* Темно-оранжевый цвет кнопки при наведении */
  }
  
  .goBack:active {
  background-color: #e74c3c; /* Более тёмный оттенок при нажатии */
  }
  .goBack {
    display: inline-block;
  }
  
  .goBack--inline {
    display: inline-block;
    margin-left: 10px;
  }