body {
  margin: 0;
  padding: 0;
  background-color: #001637; /* Темно-синий фон */
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование по горизонтали */
  justify-content: center; /* Центрирование по вертикали */
  min-height: 100vh; /* Минимальная высота страницы */
}

* {
  box-sizing: border-box;
}

header {
  width: 100%; 
  padding: 20px 50px; 
  background-color: #001637; /* Темно-синий фон */
  display: flex;
  justify-content: space-between; /* Распределение пространства между элементами */
  align-items: center; /* Центрирование элементов по вертикали */
}

.teacher-info {
  color: white;
}

.schedule {
  background-color:white; /* Светло-синий фон */
  width: 100%; /* Ширина контейнера */
  margin: auto; /* Авто-маргины для центрирования */
  height: 60vh; /* Высота контейнера составляет половину высоты экрана */
  padding: 1rem; /* Внутренний отступ */
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование элементов внутри */
  border-radius: 5px; /* Скругление углов */
  justify-content: center;
}

table {
  width: 70%; /* Ширина таблицы */
  border-collapse: collapse; /* Убираем двойные границы между ячейками */
  margin-top: 5px;

  
}

th, td {
  border: 1px solid #d9d9d9;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

th {
  background-color: #001637; /* Темно-синий фон заголовков */
  color: white;
}

tr:nth-child(even) {
  background-color: #cccccc; /* Цвет для четных строк */
}

back {
  padding: 30px;
  text-align: left;
  width: 100%;
}

back button {
  background-color: #e0e9f7; 
  color: #001637; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

back button:hover {
  background-color: orange; /* Цвет при наведении */
}


  