{% extends "dashboard/teacher_dashboard.html" %}
{% block content %}
<div class = "choosing_current_course">
    <button class="goBack" onclick="history.back();">Go back</button>
    <div class="cource_segments_container">
        {% comment %} So Django code here I have not styled it yet Kanat {% endcomment %}
        <div class="cource_segment">
            <p>Time</p>
            <p>Room</p>
            <p>Course name</p>
            <button>Take Attendance</button>
        </div>
    </div>
</div>
{% endblock content %}