{% extends "dashboard/student_base.html" %}
{% block content %}
<div class="specific_course">
    <div class="lecture">
        
        <div class="teacher-info">
            <h3>{{ course.course_code}} - {{ course.course_name }}</h3>
            <p>{{course.groupe.lecture}}-N {{course.lecturer}}, {{course.lecturer_status}}</p>
        </div>
        
        <table class="attendance-table" >
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Attendance</th>
                    <th>Place</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in lecture_attendances %}
                <tr>
                   <td>{{ forloop.counter }}</td>
                   <td>{{ attendance.week }}</td>
                   <td>{{ attendance.start_time|time:"H:i"  }}</td>
                   <td>{% if attendance.status == 1 %}✅{% elif attendance.status == 2 %}❌{% else %} P {% endif %}</td>
                   <td>F301</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    {% if practice_attendances %}
    <div class="practice">
        
        <div class="teacher-info">
            <h3>{{ course.course_code}} - {{ course.course_name }}</h3>
            <p>{{course.groupe.practice}}-P {{course.practice_teacher}}, {{course.practice_teacher_status}}</p>
        </div>    

        <table class="attendance-table" style="margin-top:8%;">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Attendance</th>
                    <th>Place</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in practice_attendances %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ attendance.week }}</td>
                    <td>{{ attendance.start_time|time:"H:i"  }}</td>
                    <td>{% if attendance.status == 1 %}✅{% elif attendance.status == 2 %}❌{% else %} P {% endif %}</td>
                    <td>F301</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    {% endif %}
</div>
{% endblock content %}