{% extends "dashboard/student_base.html" %}
{% block content %}
   
<div class="courses_container"  >

    <div class="section_info"> 
        <div >
            <h3 onclick="window.location.href='{% url 'dashboard:student_courses'%}'" >> COURSES</h3>  
        </div> 
        <h2>ELECTRONIC  ATTENDANCE</h2>        
    </div>       


    <section class="attendance_container">
       <table class="attendance_table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Course name</th>
                    <th>Credits</th>
                    <th>ECTS</th>
                    <th>Hours</th>
                    <th>✅</th>
                    <th>❌</th>
                    <th>P</th>
                    <th>Absence %</th>
                </tr>
            </thead>
            <tbody>
                {% for course in student_courses %}
                    <tr onclick="window.location.href='{% url 'dashboard:student_courses_specific_one' course_code=course.course_code %}'" >
                        <td>{{ course.course_code }}</td>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.credits }}</td>
                        <td>{{ course.ECTS }}</td>
                        <td>{{ course.hours }}</td>
                        <td>{{ course.present }}</td>
                        <td>{{ course.absent }}</td>
                        <td>{{ course.P }}</td>
                        <td>
                            <div class="progress-container" style="width:100px; display:flex; justify-content:space-between; align-items:center;">
                                <div style="width:80%;height:1vh;background-color: #F6A667; border: 1px solid black;border-radius:20px;">
                                    <div class="progress-bar" id="progressBar" style="background-color:red; width:{{ course.absens_persentage }}%; height:1vh" ></div>
                                </div>
                                {{ course.absens_persentage }}%
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock content %}