{% extends "dashboard/teacher_base.html" %}
{% block content %}
<div class="gen_courses_attendance_info">

    <div class="section_info"> 
        <div style="display:flex;flex-direction:row;">
            <h3 onclick="window.location.href='{% url 'dashboard:teacher_courses'%}'" >&nbsp;> COURSES</h3>
            <h3 onclick="window.location.href='{% url 'dashboard:teacher_courses_specific_one' course_code=course_code course_type=course_type %}'" >&nbsp;&nbsp;> {{course_code}} - {{ course_name }} </h3>  
            <h3 onclick="window.location.href='{% url 'dashboard:teacher_courses_specific_one_attendance' course_code=course_code  group=group course_type=course_type %}'" >&nbsp;&nbsp;> Group - {{group}} </h3>  
        </div> 
        <h2>COURSES</h2>        
    </div> 
    <section class="attendance_container">
        <table class="attendance_table">
            <thead>
                <tr class="header-row">
                    <th>#</th>
                    <th>Student name</th>
                    {% for week in weeks %}
                        {% for hour in week %}
                            <th>W&nbsp;{{ forloop.parentloop.counter }}&nbsp;|&nbsp;{{ hour|time:"H:i" }}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr > 
                        <td>{{ forloop.counter }}</td>
                        <td>{{ student.name  }}</td>
                        {% for attendance in student.attendances %}
                            {% for hourly in attendance %}

                                <td class="att_status_container" onclick="toggleStatus({{ hourly.attendance }});">
                                    <form action="{% url 'attendance:att_toggle' att_id=hourly.attendance course_code=course_code group=group course_type=course_type %}" method="post" id="toggle-form-{{ hourly.attendance }}" style="display: none;">
                                        {% csrf_token %}
                                        <input type="text" name="status" id="status-input" readonly>
                                    </form>
                                    {% if hourly.status == 1 %}
                                        ✅
                                    {% elif hourly.status == 2 %}
                                        ❌
                                    {% else %}
                                        P 
                                     {% endif %}
                                </td>

                            {% endfor %}
                        {% endfor %}    
                    </tr >
                {% endfor %}
            </tbody>
        </table>
    <section>
</div>
<script>
    function toggleStatus(counter) {
        console.log(counter)
        const form = document.getElementById(`toggle-form-${counter}`);
        form.submit();
    }
</script>
{% endblock content %}