{% extends "dashboard/student_base.html" %}
{% block content %}
<div class="specific_course">
    <div class="hirarchi">
        <h3 onclick="window.location.href='{% url 'dashboard:student_courses'%}'" >&nbsp;> COURSES</h3><h3 onclick="window.location.href='{% url 'dashboard:student_courses_specific_one' course_code=course.course_code %}'" >&nbsp;> {{ course.course_code}} - {{ course.course_name }}</h3>  
    </div>

    <div class="lecture">
        
        <div class="teacher_info">
            <h3>{{ course.course_code}} - {{ course.course_name }}</h3>
            <p>{{course.groupe.lecture}}-N {{course.lecturer}}, {{course.lecturer_status}}</p>
        </div>
        
        <table class="attendance_table" >
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Attendance</th>
                    <th>Place</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in lecture_attendances %}
                <tr>
                   <td>{{ forloop.counter }}</td>
                   <td>{{ attendance.week }}</td>
                   <td>{{ attendance.start_time|time:"H:i"  }}</td>
                   <td>{% if attendance.status == 1 %}✅{% elif attendance.status == 2 %}❌{% elif attendance.status == 3 %}M{% else %}P{% endif %}</td>
                   <td>F301</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if course.lecture_attendance_time > 0 %}
            <form class = "form" action="{% url 'attendance:manual_attendance' course_code=course.course_code is_lecture=1 %}"onsubmit="showLoadingOverlay()" method="post" id="login-form">
                {% csrf_token %}
                <input type="submit" class="btn_for_attendance" value="Register Attendance"/>
            </form>
        {% endif %}
    </div>
    {% if practice_attendances %}
    <div class="practice">
        
        <div class="teacher_info">
            <h3>{{ course.course_code}} - {{ course.course_name }}</h3>
            <p>{{course.groupe.practice}}-P {{course.practice_teacher}}, {{course.practice_teacher_status}}</p>
        </div>    

        <table class="attendance_table">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Attendance</th>
                    <th>Place</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in practice_attendances %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ attendance.week }}</td>
                    <td>{{ attendance.start_time|time:"H:i"  }}</td>
                    <td>{% if attendance.status == 1 %}✅{% elif attendance.status == 2 %}❌{% else %} P {% endif %}</td>
                    <td>F301</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if course.practice_attendance_time > 0 %}
            <form class = "form" action="{% url 'attendance:manual_attendance' course_code=course.course_code is_lecture=0 %}"onsubmit="showLoadingOverlay()" method="post" id="login-form">
                {% csrf_token %}
                <input type="submit" class="btn_for_attendance" value="Register Attendance"/>
            </form>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock content %}