{% extends "dashboard/student_base.html" %}
{% block content %}
<div class="document_submission">
    
    <div class="hirarchi">
        <h3 onclick="window.location.href='{% url 'dashboard:student_document_submission'%}'" >&nbsp;> SERVICES</h3>
    </div>

    <div class="form_container">
        <form class="file_submission_form" method="post" enctype="multipart/form-data">
            <h2>Submit Documents</h2>
            {% csrf_token %}

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" id="description" class="form-control" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="document">Upload :</label>
                <input type="file" name="document" id="document" class="form-control-file" required>
            </div>

            <button type="submit" class="submit_document_button">Submit</button>

            {% if documents %} 
            <h2>Your Submissions:</h2> 
                <ul> 
                    {% for doc in documents %} 
                    <li> 
                        <a href="{% url 'dashboard:download_document' doc.id %}"> 
                            {{ doc.document.name|cut:"student_documents/" }} 
                        </a> - Uploaded on: {{ doc.submitted_at }} 
                        <a href="{% url 'dashboard:remove_document' doc.id %}">Remove</a> 
                    </li> 
                    {% endfor %} 
                </ul> 
            {% endif %}

            {% if error %}
                <div id="error-messages" class="error-messages">
                    <p style="color: red ;text-align: center; font-size: 2.2vh; ">{{ error }}</p>
                </div>
            {% elif success %}
                <div id="error-messages" class="error-messages">
                    <p style="color: white;text-align: center; font-size: 2.2vh; ">{{ success }}</p>
                </div>
            {% endif %}
        </form>
    </div>

</div>
<script>
    setTimeout(function() {
        
        var errorMessages = document.getElementById('error-messages');
        
        if (errorMessages) {
            errorMessages.style.display = 'none';
        }
    
    }, 6000);  // 6 seconds
    
</script>
{% endblock content %}