{% extends "dashboard/teacher_dashboard.html" %}
{% block content %}
<div class="gen_courses_info">
    <table>
        <thead>
            <tr class="header-row">
                <th>Code</th>
                <th>Course name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for course in teacher_courses %}
                    <tr onclick="window.location.href='{% url 'dashboard:teacher_course_displayer' course_code=course.course_code course_type=course.course_type  %}'"> 
                    <td>{{ course.course_code }}</td>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.course_type }}</td>    
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}