{% extends "dashboard/student_dashboard.html" %}
{% block content %}
<div class="gen_attendance_info">
        
    <table>
        <thead>
            <tr class="header-row">
                <th>Code</th>
                <th>Course name</th>
                <th>Credits</th>
                <th>ECTS</th>
                <th>Hours</th>
                <th >✅</th>
                <th >❌</th>
                <th>P</th>
                <th>Absence % (Limit 30%)</th>
            </tr>
        </thead>
        <tbody>
            {% for course in student_courses %}
            <tr onclick="window.location.href='{% url 'dashboard:specific_course' course_code=course.course_code id=student.id %}'">
                <td>{{ course.course_code }}</td>
                <td>{{ course.course_name }}</td>
                <td>{{ course.credits }}</td>
                <td>{{ course.ECTS }}</td>
                <td>{{ course.hours }}</td>
                <td>
                    <!-- Display the number of present classes here -->
                    {{ course.present }}
                </td>
            
                <td>
                    <!-- Display the number of absent classes here -->
                    {{ course.absent }}
                </td>
                <td>
                    {{ course.P }}
                </td>
                <td>
                    <div class="progress-container" style="display:flex; justify-content:space-between; align-items:center;">
                        <div style="width:80%;background-color: #F6A667; border: 1px solid black;margin:3%;border-radius:20px;">
                            <div class="progress-bar" id="progressBar" style="width:{{ course.absens_persentage }}%; background-color:red;" ></div>
                        </div>
                        {{ course.absens_persentage }}%
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}