{% extends "dashboard/teacher_dashboard.html" %}
{% block content %}
<div class="gen_courses_info">
    <table>
        <thead>
            <tr class="header-row">
                <th>Code</th>
                <th>Course name</th>
            </tr>
        </thead>
        <tbody>
            {% for course in teacher_courses %}
                    <tr onclick="window.location.href='{% url 'dashboard:specific_course'  %}'"> 
                    <td><a href="{% url 'dashboard:course_dashboard' course_code=course.course_code id=teacher.id %}" class="course-link">{{ course.course_code }}</a></td>
                    <td>{{ course.course_name }}</td>    
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}