{% extends "dashboard/student_dashboard.html" %}

{% block content %}
<div class="notice_document_submition">
    <h1>Here you can send notice of absence documents online.</h1>
    <div class="order_document">
        <div class="wrapperh1"><h1>Document type</h1></div>
        <select id="order_option" data-style="round">
            <option value="option1">Health issue</option>
            <option value="option2">Other ...</option>
        </select>
    </div>
    
    <div >
        <form class = "form" action="{% url 'account:logout' %}" onsubmit="showLoadingOverlay()" method="post" id="file_submit_form">
            {% csrf_token %}
            <label  for="fileInput" class="file-input-button">Upload file </label>
            <input type="file" id="fileInput" name="file" style="display: none;cursor:pointer;">
        </form>
    </div>

    <div class="submit_cancel_button_container">
        
        <input type="submit" value="Submit" style="background-color:#162350;color:white;cursor:pointer;" onclick="submitForm();">
         
        <form method="post" action="{% url 'dashboard:dashboard' %}">
            {% csrf_token %}
            <input type="submit" style="margin-left:5vw;color: red;cursor:pointer;" value="Cancel">
        </form>
    </div>
    
</div>
{% endblock content %}