{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Electronic Attendance</title>
<link rel="stylesheet" href="{% static 'css/student_att.css' %}">
<script src="{% static 'js/student_att.js' %}"></script>
</head>
<body>
    {% with student=request.user.student %}
<div class="container">
    <header>
        <div class="header-left">
            <h1>Electronic Attendance</h1> 
        </div>
    </header>
<div class="header-right">
        <div class="student-info"> 
            <p>Name-Surname:<span id="studentName">{{ student.fullName }}</span></p>
            <p>ID:<span id="id">{{ student.student_id }}</span></p>
            <p>Advisor:<span id="advisorName">{{ student.advisor }}</span></p>
            <p>Major Program:<span id="majorProgram">{{ student.major_program }}</span></p>        
        </div>
</div>
   <div class="teacher-info">
         <h3>{{ course.course_code}} - {{ course.course_name }}</h3>
         <p>01-N Alexandr Ivanov, Doctor of Science</p>
   </div>
    <div class="class-type">

        <select id="classTypeSelect" onchange="updateAttendanceTable()">
            <option value="lecture">Lecture</option>
            <option value="practice">Practice</option>
        </select>
    </div>
    <section class="attendance-container">
    <table class="attendance-table" >
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Hour</th>
                <th>Attendance</th>
                <th>Place</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendances %}
            <tr>
               <td>{{ attendance.schedule.day_of_week }}</td>
               <td>{{ attendance.date|date:"d.m.Y" }}</td>
               <td>{{ attendance.schedule.start_time|time:"H:i"  }}-{{ attendance.schedule.end_time|time:"H:i"  }}</td>
               <td>{% if attendance.present %}✅{% else %}❌{% endif %}</td>
               <td>{{ attendance.schedule.classroom }}</td>
           
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<div class="footer">
    <button type="button" class="logout-button">Log Out</button>
    <a href="path_to_certificate_page.html" target="_blank" class="certificate-button">Certificate</a>
    <button class="goBack goBack--inline" onclick="goBack()">Go back</button>
</div>
{% endwith %}
</body>
</html>
