{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy University</title>
    <link rel="stylesheet" href="{% static 'css/teacher_dashboard.css' %}">
    <script src="{% static 'js/teacher_dashboard.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap">
</head>
<body>
{% with teacher=request.user.teacher %}
    <header>
        <div class="header-left">
            <div class="teacher-info">
                <p><strong>Name-Surname:</strong> <span id="teacherName">{{ teacher.fullName }}</span></p>
                <p><strong>Status:</strong> <span id="status">{{ teacher.status }}</span></p>
            </div>
        </div>
        <form method="post" action="{% url 'account:logout' %}">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    </header>
    <div class="schedule">
        <table>
            <tr class="header-row">
                <th>Code</th>
                <th>Course name</th>
            </tr>
            <tbody>
                {% for course in teacher_courses %}
                    <tr>
                        <td><a href="{{ course.course_link }}" class="course-link">{{ course.course_code }}</a></td>
                        <td><a href="{{ course.course_link }}" class="course-link">{{ course.course_name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <back>
        <button onclick="goBack()">Back</button>
    </back>
{% endwith %}
</body>
</html>
   
 