{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login - Happy University</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <script src="{% static 'js/login.js' %}"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/image.png' %}">
  <style>
    @font-face {
      font-family: 'gilroy-600';
      src: url('{% static "fonts/Gilroy_Qaz/Gilroy-Semibold 2.ttf" %}') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'sduBold';
      src: url('{% static "fonts/sdu.otf" %}') format('opentype');
    }
  </style>
</head>
<body>
  
  <div id="loading-overlay">
    <div class="spinner"></div>
  </div>

  <div class="left_part">
    <h1 class="header-line">Happy&nbsp;&nbsp;University</h1>
    <img src="{% static 'img/image.png' %}" alt="University logo">
  </div>

  <div class="right_part">
    <h1 class="line">ADMIN LOG IN</h1>
    <form class="form" action="{% url 'account:adminka' %}" onsubmit="showLoadingOverlay()" method="post" id="login-form">
        {% csrf_token %}
        
          <div class="login-box">
            <div class="input-box">
              {{ form.id }}
            </div>
            
            <div class="input-box">
              {{ form.password }}
            </div>
            
            <input type="submit" class="btn" value="Log in"/>
            
            <div class="forgot">
              <a href="{% url 'account:adminka' %}">Forgot Password?</a>
            </div>

          </div>
    </form>
    {% if messages %}
      <div id="error-messages" class="error-messages">
          {% for message in messages %}
              <p style="color: red;text-align: center; font-size: 2.2vh;">{{ message }}</p>
          {% endfor %}
      </div>
    {% endif %}
  </div>

</body>
</html>